<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ config.websiteTitle }}</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"
</head>
<body>
{% include 'navbar.twig' %}

<div class="d-flex flex-row m-3">
    <div class="col-8">
        {% block content %}{% endblock %}
    </div>
    <div class="col-4" style="padding: 15px; border: 2px solid {{ config.navbarColor }}">
        <form id="requestForm">
            <div class="flex-row">
                <div class="col mb-3">
                    <h5 class="h5 text-uppercase text-center"><b>{{ lang.formName }}</b></h5>
                </div>
            </div>
            <div class="flex-row">
                <div class="col mb-3">
                    <label for="name">{{ lang.formNameField }}</label>
                    <input type="text" class="form-control" id="name" name="name"
                           placeholder="{{ lang.formNameFieldTip }}"
                           required
                           oninvalid="this.setCustomValidity('{{ lang.formNameFieldError }}')"
                           oninput="this.setCustomValidity('')">
                </div>
            </div>
            <div class="flex-row">
                <div class="col mb-3">
                    <label for="surname">{{ lang.formSurnameField }}</label>
                    <input type="text" class="form-control" id="surname" name="surname"
                           placeholder="{{ lang.formSurnameFieldTip }}" required
                           oninvalid="this.setCustomValidity('{{ lang.formSurnameFieldError }}')"
                           oninput="this.setCustomValidity('')">
                </div>
            </div>
            <div class="flex-row">
                <div class="col mb-3">
                    <label for="mail">{{ lang.formEmailField }}</label>
                    <input type="email" class="form-control" id="mail" name="mail"
                           placeholder="{{ lang.formEmailFieldTip }}"
                           required
                           oninvalid="this.setCustomValidity('{{ lang.formEmailFieldError }}')"
                           oninput="this.setCustomValidity('')">
                </div>
            </div>
            <div class="flex-row">
                <div class="col mb-3">
                    <label for="phone">{{ lang.formPhoneField }}</label>
                    <input type="tel" class="form-control" id="phone" name="phone"
                           placeholder="{{ lang.formPhoneFieldTip }}"
                           value="" pattern="^\+38\(\d{3}\)\d{7}$" required
                           oninvalid="this.setCustomValidity('{{ lang.formPhoneFieldError }}')"
                           oninput="this.setCustomValidity('')">
                </div>
            </div>
            <div class="flex-row">
                <div class="col mb-3">
                    <label for="message">{{ lang.formTextField }}</label>
                    <textarea class="form-control" id="message" name="message"></textarea>
                </div>
            </div>
            <div class="flex-row">
                <div class="col mb-3">
                    <button type="submit" id="form-button" class="btn btn-success btn-block text-uppercase btn-custom">
                        <b>{{ lang.sendRequest }}</b>
                    </button>
                </div>
            </div>
        </form>
        <div id="confirm" class="alert alert-success" role="alert" style="display: none; margin: 2%"></div>
    </div>
</div>
<script>
    let requestForm = document.getElementById("requestForm");

    function validateMessage(){
        let requestContent = document.getElementById('message').value;
        if (requestContent.length === 0) {
            alert('{{ lang.formTextFieldError }}');
            return false;
        }
        return true;
    }

    let formButton = document.getElementById("form-button");
    formButton.addEventListener("click", function (e) {

        if (validateMessage() && requestForm.checkValidity()) {
            e.preventDefault();
            let data = JSON.stringify({
                surname: document.getElementById("surname").value,
                name: document.getElementById("name").value,
                mail: document.getElementById("mail").value,
                phone: document.getElementById("phone").value,
                message: document.getElementById("message").value
            });
            let request = new XMLHttpRequest();
            request.open("POST", "/request/add", true);
            request.setRequestHeader("Content-Type", "application/json");
            request.addEventListener("load", function () {
                let isConfirmationOn = JSON.parse(request.response);
                let confirmationMessage = document.getElementById('confirm');
                confirmationMessage.style.display = 'block';

                if (!isConfirmationOn) {
                    confirmationMessage.innerText = '{{ lang.requestAccepted }}';
                } else {
                    confirmationMessage.innerText = '{{ lang.sentMail }}';
                }
            });
            request.send(data);
            $('input').each(function () {
                $(this).val("");
            });
            $('#message').val("");
        }

    });
</script>
</body>
</html>
